<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Template de prueba =)!
        
    <!-- ESTO ES UNA PLANTILLA RENDERIZADA POR UNA VIEW DE DJANGO =)!

    <p style="color:red">
        Mi nombre es {{name}}
    </p>

    <p style="color:green">
        Mi apellido es {{surname}}
    </p>

    <h1> Estas son las notas de la universidad </h1>

    <p>
        {% for n in notas %}
            {% if n < 4 %}
                <p style="color:red"> NOTA MALA {{n}}</p>
            {% else %} <p style="color:blue"> NOTA BUENA {{n}}</p>
        {$ endfor %}
    </p> -->

</body>
</html>