<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    
    <h3> Estos son los datos de los familiares registrados: </h3>

    <ul>
        {% for relative in relatives %}
            <br>
            <li>
                <b>Nombre:</b> {{relative.name}} {{relative.surname}},
                <b>Fecha de nacimiento:</b> {{relative.birthDayDate}},
                <b>Edad:</b> {{relative.age}} años,
                <b>Dirección:</b> {{relative.address}},
                <b>Teléfono:</b> {{relative.celNum}},
                <b>Email:</b> {{relative.email}},
                {% if relative.hasEmigrated %}
                    <b>¿Vive en Argentina?:</b> No
                {% else %}
                    <b>¿Vive en Argentina?:</b> Si 
                {% endif %}
            </li>
            </br>
        {% endfor %}
    </ul>

</body>
</html>