<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    
    <h3> Estos son los datos de los familiares registrados: </h3>

    <ul>
        {% for relative in relatives %}
            <br><li>
                 Nombre:  {{relative.name}} {{relative.surname}},
                Edad: {{relative.age}},
                Dirección: {{relative.address}},
                Teléfono: {{relative.celNum}},
                Correo electrónico: {{relative.email}},
                Fecha de nacimiento: {{relative.birthDayDate}},
                {% if relative.hasEmigrated %}
                    ¿Vive en Argentina?: No
                {% else %}
                    ¿Vive en Argentina?: Si 
                {% endif %}
            </li></br>
        {% endfor %}
    </ul>

</body>
</html>